html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav, nav * {
    border: solid 1px #000;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: solid 1px #000; */
}

nav h1 {
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
}

li {
    margin: 5px;
}